body {
    padding: 0%;
    margin: 0%;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Header*/
.containerHeader {
    display: flex;
    height: 3.75rem;
    background-color: #FFFFFF;
    border-bottom: 1px solid rgb(207, 207, 207);
}

#logoHeader {
    margin-left: 6.25rem;
}

#navegacaoHeader {
    display: flex;
    margin-left: 58.125rem;
}

.botaoHeader {
    margin-top: 1.25rem;
    margin-right: .625rem;
    margin-left: 1.25rem;
}

.botaoHeader a {
    text-decoration: none;
    color: black;
    height: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#botaoHeaderContato {
    border-radius: 1.25rem;
    background-color: #27b8ec;
    margin-top: .625rem;
    padding-top: .4375rem;
    padding-left: .9375rem;
    padding-right: .9375rem;
    padding-bottom: .625rem;
    margin-left: 1.875rem;
    height: 1.25rem;
    box-shadow: 0 0 .1875rem #04A6E1;
}

#botaoHeaderContato:hover {
    background-color: #04bcff;
    box-shadow: 0 0 15px #43cdff;
    transition: box-shadow 0.4s ease-in-out;
}

#botaoHeaderContato a {
    font-size: 1.125rem;
    text-decoration: none;
    color: #FFFFFF;
}

/*Primeira Chamda*/
.containerFirstCall {
    display: block;
    height: 43.125rem;
    justify-content: center;

}

.firstCall {
    margin-left: 16.875rem;
    justify-content: center;
    text-align: center;
    width: 56.25rem;
}

#TitleFirst {
    font-size: 2.5rem;
    color: #04A6E1;
}

#textFirstCall {
    margin-bottom: 2.5rem;
}

#subTitleCall {
    margin-left: 3.75rem;
    font-size: 1.125rem;
    width: 50rem;

}

#buttonFirstCall {
    width: 50.625rem;
    height: 8.25rem;
    background-color: #43cdff;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    font-size: 2.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    color: white;
    border-radius: 6.25rem;
    border-width: 0px;
    box-shadow: inset 0px -10px 0px 0px rgb(0 0 0 / 30%), 0px 12px 18px -6px rgb(0 0 0 / 50%);
}

#buttonFirstCall:hover {
    font-size: 2.625rem;
    background-color: #28c6ff;
    transition: font-size 0.4s ease-in-out;

}

#linkFirstCall a {
    text-decoration: none;
    color: #59d3ff;
    font-size: .875rem;
}

#buttonWPP {
    margin-top: 3.125rem;
    margin-bottom: 30px;
}

/*Sobre o lider*/
.containerAbout {

    padding-top: 60px;
    height: 750px;
    background-color: #F5F9FF;
    justify-content: center;
    text-align: center;
}

#titleAbout {

    text-align: center;
    font-size: 40px;
    color: #181818;
    margin-bottom: 10px;

}

#subTitleAbout {
    margin-top: 30px;
    margin-left: 300px;
    text-align: center;
    justify-content: center;
    width: 940px;
    color: #4484FB;
    font-size: 20px;
    padding-bottom: 40px;
}

#textandimageabout {
    margin-top: 10px;
    margin-left: 300px;
    display: flex;
}

#aboutText {
    font-size: 21px;
    width: 600px;
    text-align: justify;
    margin-left: 30px;
}

#imgAbout {
    box-shadow: 0 0 10px rgb(168, 168, 168);
}

#aboutText p {
    margin-bottom: 40px;
}

/*Parte de texto do meio*/
.containerMiddle {
    background-color: white;
    height: 919px;
}