body {
    padding: 0%;
    margin: 0%;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Header*/
.containerHeader {
    display: flex;
    height: 3.75rem;
    background-color: #FFFFFF;
    border-bottom: 1px solid rgb(207, 207, 207);
}

#logoHeader {
    margin-left: 6.25rem;
}

#navegacaoHeader {
    display: flex;
    margin-left: 58.125rem;
}

.botaoHeader {
    margin-top: 1.25rem;
    margin-right: .625rem;
    margin-left: 1.25rem;
}

.botaoHeader a {
    text-decoration: none;
    color: black;
    height: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#botaoHeaderContato {
    border-radius: 1.25rem;
    background-color: #27b8ec;
    margin-top: .625rem;
    padding-top: .4375rem;
    padding-left: .9375rem;
    padding-right: .9375rem;
    padding-bottom: .625rem;
    margin-left: 1.875rem;
    height: 1.25rem;
    box-shadow: 0 0 .1875rem #04A6E1;
}

#botaoHeaderContato:hover {
    background-color: #04bcff;
    box-shadow: 0 0 15px #43cdff;
    transition: box-shadow 0.4s ease-in-out;
}

#botaoHeaderContato a {
    font-size: 1.125rem;
    text-decoration: none;
    color: #FFFFFF;
}

/*Primeira Chamda*/
.containerFirstCall {
    display: block;
    height: 43.125rem;
    justify-content: center;

}

.firstCall {
    margin-left: 16.875rem;
    justify-content: center;
    text-align: center;
    width: 56.25rem;
}

#TitleFirst {
    font-size: 2.5rem;
    color: #04A6E1;
}

#textFirstCall {
    margin-bottom: 2.5rem;
}

#subTitleCall {
    margin-left: 3.75rem;
    font-size: 1.125rem;
    width: 50rem;

}

#buttonFirstCall {
    width: 50.625rem;
    height: 8.25rem;
    background-color: #43cdff;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    font-size: 2.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    color: white;
    border-radius: 6.25rem;
    border-width: 0rem;
    box-shadow: inset 0px -10px 0px 0px rgb(0 0 0 / 30%), 0px 12px 18px -6px rgb(0 0 0 / 50%);
}

#buttonFirstCall:hover {
    font-size: 2.625rem;
    background-color: #28c6ff;
    transition: font-size 0.4s ease-in-out;

}

#linkFirstCall a {
    text-decoration: none;
    color: #59d3ff;
    font-size: .875rem;
}

#buttonWPP {
    margin-top: 3.125rem;
    margin-bottom: 30px;
}

/*Sobre o lider*/
.containerAbout {

    padding-top: 3.75rem;
    height: 46.875rem;
    background-color: #F5F9FF;
    justify-content: center;
    text-align: center;
}

#titleAbout {

    text-align: center;
    font-size: 2.5rem;
    color: #181818;
    margin-bottom: .625rem;

}

#subTitleAbout {
    margin-top: 1.875rem;
    margin-left: 18.75rem;
    text-align: center;
    justify-content: center;
    width: 58.75rem;
    color: #4484FB;
    font-size: 1.25rem;
    padding-bottom: 40px;
}

#textandimageabout {
    margin-top: .625rem;
    margin-left: 18.75rem;
    display: flex;
}

#aboutText {
    font-size: 1.3125rem;
    width: 37.5rem;
    text-align: justify;
    margin-left: 1.875rem;
}

#imgAbout {
    box-shadow: 0 0 10px rgb(168, 168, 168);
}

#aboutText p {
    margin-bottom: 2.5rem;
}

/*Parte de texto do meio*/
.containerMidle {
    padding-bottom: 3.125rem;
    padding-top: 3.125rem;
    background-color: white;
    height: 41.875rem;
    text-align: center;
}



#titleMidle {
    display: block inline;
    color: #04bcff;
    font-size: 4.375rem;
}

#subtitleMidle {
    display: block inline;
    font-size: 2.5rem;
    margin-bottom: .625rem;

}

#subMidleMsg {
    display: block inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    color: #4484FB;
    padding-bottom: 2.5rem;
}

#textMidle {
    display: inline-block;
    width: 48.125rem;
    padding-left: 5.3125rem;
    padding-right: 5.3125rem;

}

#textMidle p {
    font-size: 1.125rem;
    text-align: left;
}



#linkMidle a {
    display: inline-block;
    text-decoration: none;
    color: rgb(222, 222, 222);
    font-size: .5625rem;
}

/*Segundo Container*/
.containerMidleTwo {
    padding-bottom: 3.125rem;
    padding-top: 3.125rem;
    background-color: #f3f7ff;
    height: 75rem;
    text-align: center;
}

/*Container Para cards de vantagens*/
.containerCards {
    padding-top: 4.375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75rem;
    background-color: #f8fbfe;
}

#containerCardsArea {
    width: 62.5rem;
    align-items: center;

}

#titleCards {
    text-align: center;
    font-size: 2.1875rem;
    color: #181818;
    margin-bottom: 2.5rem;
}

#cardsOneColunm {
    display: flex;
}

#cardsTwoColunm {
    display: flex;
}

#cardsThreeColunm {
    display: flex;
}

#card {
    display: flex;
    flex-direction: column;
    height: 17.5rem;
    width: 18.75rem;
    background-color: #FFFFFF;
    padding: 1.125rem;
    margin-right: 1.25rem;
    margin-bottom: 2.5rem;
    box-shadow: 0px 2px 52px 0px rgb(68 132 251 / 25%);
    border: 1px solid rgba(68, 132, 251, 0.3);
    border-radius: .625rem;
    border-top: 5px solid #4484FB;
    align-items: center;
}

#card h4 {
    text-align: center;
    margin-bottom: .625rem;
    background-color: #e8f0ff;
    border-radius: 3.125rem;
    padding-top: .4375rem;
    padding-bottom: .4375rem;
    color: #11171a;
    font-weight: 800;
    font-size: 1.25rem;
    width: 18.75rem;
}

#card p {
    text-align: center;
    font-family: sans-serif;
    font-size: 1.25rem;
    color: #444444;

}

/*Little Cards*/
.containerLittleCards {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 91.875rem;
    background-color: #F5F9FF;

}

#containerLittleCards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titleLittleCards {
    padding-top: 4.375rem;
    text-align: center;
    font-size: 3.125rem;
    color: #04bcff;

}

#subLittleCards {
    margin-top: .625rem;
    display: inline-block;
    width: 58.75rem;
    align-items: center;
    text-align: center;
    color: #181818;
    font-size: 2.5rem;
}

#subLegendLittleCards {
    padding-top: .625rem;
    font-size: 1.25rem;
    height: 1.875rem;
    color: #4484FB;

}

#paragrafosLittleCards {
    font-size: 1.25rem;
}

/*Cards */
.colunaCardsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cardsOkay {
    display: flex;
    flex-direction: row;
}

.cardsCartoes {
    display: block;
    border-radius: .625rem;
    margin: .625rem;
    flex-direction: column;
    width: 16.875rem;
    height: 8.5rem;
    padding: 1.125rem;

    border-top: 5px solid #4484fb;
    box-shadow: 0px 2px 81px 0px rgb(68 132 251 / 30%);
    background-color: #fff;
}

.cardsCartoes:hover {
    border-top: 5px solid #0044c3;
    box-shadow: 0px 2px 81px 0px rgba(0, 74, 212, 0.3);
    background-color: rgb(253, 253, 253);
}

.cartoesTitle {
    text-align: center;
    font-size: 1.125rem;
    color: #535b7c;
}

/*Ultimo Botao*/
.botaoFinalArea {
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
}

#botaoFinal {
    text-align: center;

}

#titleBotaoFinal {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    font-size: 4.375rem;
    color: black;
    padding-bottom: 1.25rem;
}

/*Footer*/
.footer {
    height: 6.25rem;
    background-color: #11171A;
}

#footer {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: .8125rem;
    color: #666;
    padding-top: 2.5rem;
}

#footer a {
    text-decoration: none;
    color: #666;
}